@model ListHistoryViewModel

<head>
    <style>
        .bg-thead {
            text-align: left;
            background: #4C75ED;
            color: #fff
        }

        .calloutbg {
            text-align: left;
            background: #4C75ED;
            color: #fff
        }

        .callout.callout-warning1 {
            border-left-color: #3350A1;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini >
    <section class=" content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="callout callout-warning1 calloutbg">
                            <h5>Report iOT CPS</h5>
                            <p>เป็นรายงานดูการ Check in ตรวจสอบการทำ OT ผู้รับผิดชอบคือหัวหน้างาน โดยจะต้องทำรายการตรวจสอบทุกๆ 
                                ชั่วโมง หาก OT ทำเกิน 1 ชั่วโมง แสดงว่าจะต้องตรวจสอบมากกว่า 1 ครั้ง มีเงื่อนไขคือ การ Check in 
                                แต่ละครั้งจะต้องห่างกันเกิน 15 นาที ข้อมูลเอามาจาก Application iOT (AP2022-005-iOT) และ โปรแกรมขอ OT (WB2022-017-OTWeb)
                            </p>
                        </div>
                        <form asp-action="Index" asp-controller="EmployeeCPS">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>เลขที่เอกสาร</label>
                                        <input asp-for="headerQtdoc" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Yard</label>
                                        <input asp-for="headerQTNameYard" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>จำนวนคน</label>
                                        <input asp-for="headerQTSumPersons" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>วันที่เริ่มต้น</label>
                                        <br>
                                        <input value=@ViewBag.StartDate type="text" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ถึงวันที่สิ้นสุด</label>
                                        <br>
                                        <input value=@ViewBag.EndDate type="text" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ผู้รับผิดชอบ</label>
                                        <br>
                                        <input asp-for="headerQTLeaderName" type="text" class="form-control" readonly>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>รายละเอียด</label>
                                        <input asp-for="_note" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <a asp-route-docNumber="@ViewBag.DocNumber" asp-action="Index"
                                            asp-controller="EmployeeCPS" class="btn btn-info">พนักงาน</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <a asp-route-docNumber="@ViewBag.DocNumber"  asp-action="Index"
                                            asp-controller="AllHistoryCPS" class="btn btn-warning" target="_blank">ประวัติทั้งหมด</a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="card-body  table-responsive p-0" style="height: *;">
                                        <table class="table table-bordered text-wrap">
                                            <table id="example1" class="table  table-bordered">
                                                <thead class="bg-thead">
                                                    <tr>
                                                        <th style="width: 200px" class="text-center">Check In ครั้งที่
                                                        </th>
                                                        <th style="width: 160px" class="text-center">เวลา</th>
                                                        <th style="width: 300px" class="text-center">รายละเอียด</th>
                                                        <th style="width: 160px" class="text-center">สถานะ</th>
                                                        <th style="width: 160px" class="text-center">รูปภาพ</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in (ViewBag.ListHistoryViewModel as
                                                    IEnumerable<ListHistoryViewModel>))
                                                    {
                                                        <tr>
                                                            <td class="text-center">@item.itemTime</td>
                                                            <td class="text-center">@item.trTimeCheckin</td>

                                                            @if (!String.IsNullOrEmpty(@item.note))
                                                            {
                                                                <td class="text-center">@item.note</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-center">-</td>
                                                            }

                                                            @if (@item.trTimeCheckin == "00:00:00")
                                                            {
                                                                <td class="text-center">
                                                                    <span class="badge bg-danger">
                                                                        ไม่ได้ทำรายการ
                                                                    </span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-center">
                                                                    <span class="badge bg-success">
                                                                        ทำรายการสำเร็จ
                                                                    </span>
                                                                </td>
                                                            }
                                                            @if (!String.IsNullOrEmpty(@item.image))
                                                            {
                                                                <td class="text-center">
                                                                    <a asp-action="ViewCheckIn" asp-controller="HistoryCPS"
                                                                asp-route-headerQTDoc="@item.headerQTDoc"
                                                                asp-route-headerQTDateStAffect="@item.headerQTDateStAffect"
                                                                asp-route-headerQTDateEnAffect="@item.headerQTDateEnAffect"
                                                                asp-route-headerQTNameYard="@item.headerQTNameYard"
                                                                asp-route-headerQTLeaderName="@item.headerQTLeaderName"
                                                                asp-route-headerQTSumPersons="@item.headerQTSumPersons"
                                                                asp-route-docnumberImage="@item.docnumberImage"
                                                                asp-route-countItem="@item.itemTime" target="_blank"
                                                                class="btn btn-outline-dark">
                                                                        รูปภาพ
                                                                    </a>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }

                                                        </tr>
                                                    }

                                                </tbody>

                                            </table>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</body>